/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

if (params.mode == "qc") {
    process {
        withName: ALIGN { container = "quay.io/mondrianscwgs/alignment:v0.0.93" }
        withName: CONCATGCMETRICS { container = "quay.io/mondrianscwgs/alignment:v0.0.93" }
        withName: CONCATMETRICS { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: HMMCOPY { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: CELLCYCLECLASSIFIER { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: QCMETADATA { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: HTMLREPORT { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: PLOTHEATMAP { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: ADDCLUSTERINGORDER { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: CONCATREADS { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: CONCATSEGMENTS { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: CONCATPARAMS { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: HMMTAR { container = "quay.io/mondrianscwgs/hmmcopy:v0.0.93" }
        withName: ALIGNTAR { container = "quay.io/mondrianscwgs/alignment:v0.0.93" }
        withName: BAMMERGE { container = "quay.io/mondrianscwgs/alignment:v0.0.93" }
        withName: RECOPYMETADATA { container = "quay.io/mondrianscwgs/alignment:v0.0.93" }
        withName: HTMLREPORT {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: PLOTHEATMAP {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: ADDCLUSTERINGORDER {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: CONCATREADS {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: CONCATSEGMENTS {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: CONCATPARAMS {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: CONCATGCMETRICS {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: HMMTAR {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: ALIGNTAR {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: BAMMERGE {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
        withName: RECOPYMETADATA {
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
    }
}

if (params.mode=="counthaps") {
    process {
        withName: SPLITBAM { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: CREATESEGMENTS { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: CONVERTHAPLOTYPESCSVTOTSV { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: EXTRACTSEQDATAANDREADCOUNT { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: CONCATALLELECOUNTS {
            container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93"
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
    }
}


if (params.mode=="inferhaps") {
    process {
        withName: GETREGIONS { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: BCFTOOLSMPILEUP { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: BCFTOOLSFILTERHET { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: BCFTOOLSCONCATVCF { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: SHAPEIT { container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93" }
        withName: CONCATCSV {
            container = "quay.io/mondrianscwgs/haplotype_calling:v0.0.93"
            publishDir = [
                path: { "${params.output_dir}/" },
                mode: 'copy'
            ]
        }
    }
}
