/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: CONCATMETRICS {
        container = "${params.hmmcopy_image}"
    }
    withName: ALIGN {
        container = "${params.alignment_image}"
    }
    withName: HMMCOPY {
        container = "${params.hmmcopy_image}"
    }
    withName: CELLCYCLECLASSIFIER {
        container = "${params.hmmcopy_image}"
    }
    withName: HTMLREPORT {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/html" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: PLOTHEATMAP {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/heatmap" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: ADDCLUSTERINGORDER {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/metrics" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: CONCATREADS {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/reads" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: CONCATSEGMENTS {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/segments" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: CONCATPARAMS {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/params" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: CONCATGCMETRICS {
        container = "${params.alignment_image}"
        publishDir = [
            path: { "${params.output_dir}/gcmetrics" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: HMMTAR {
        container = "${params.hmmcopy_image}"
        publishDir = [
            path: { "${params.output_dir}/hmm_tar" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: ALIGNTAR {
        container = "${params.alignment_image}"
        publishDir = [
            path: { "${params.output_dir}/align_tar" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
    withName: BAMMERGE {
        container = "${params.alignment_image}"
        publishDir = [
            path: { "${params.output_dir}/bams" },
            mode: 'copy',
            enabled: true,
            pattern: '*'
        ]
    }
}
